<header class="page-header row justify-center">
  <div class="col">
    <h1 class="float-left text-center text-md-left">
      Flight Search
    </h1>
  </div>
</header>

<section class="row">
  <div class="col-sm-12">
    <section class="row">

      <div class="col-md-12">

        <div class="card mb-4" *ngIf="selectedGive()">
          <div class="card-body">
            <h3 class="card-title">Basket</h3>

            <h6 class="card-subtitle mb-2 text-muted">List of selected
              flights</h6>

            <ul class="todo-list mt-2" >
              <li class="todo-list-item">
                Flights:
                <pre>{{selectedFlightIds | json}}</pre>
              </li>
            </ul>

            <div class="card-footer todo-list-footer">
              <button class="btn btn-danger btn-md" id="btn-todo">
                <em class="fa fa-2x fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">

        <div class="card mb-4">

          <div class="card-body">
            <h3 class="card-title">Flight Search</h3>


            <div class="form-group row">
              <label for="from" class="col-2 col-form-label">From: {{from}}</label>
              <div class="col-10">
                <input id="from"
                       class="form-control"
                       type="text"
                       [(ngModel)]="from"
                >
              </div>
            </div>

            <div class="form-group row">
              <label for="to" class="col-2 col-form-label">To: {{to}}</label>
              <div class="col-10">
                <input id="to" class="form-control" type="text"
                       [(ngModel)]="to"
                >
              </div>
            </div>

            <button type="button" class="btn btn-outline-secondary">
              Search
            </button>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">
              Upcoming Flights ( {{ resultCount$ | async }} )
            </h3>
            <div class="dropdown card-title-btn-container">
              <button class="btn btn-sm btn-subtle" type="button">
                <em class="fa fa-list-ul"></em> View All
              </button>

              <button class="btn btn-sm btn-subtle dropdown-toggle" type="button">
                <em class="fa fa-cog"></em>
              </button>
              <button
                (click)="refresh$.next()"
                class="btn btn-sm btn-subtle" type="button">
                <em class="fa fa-refresh"></em>
              </button>
            </div>
            <div class="row" *ngIf="loading$ | async">
              <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="row">
              <app-flight-tile
                class="col col-3"
                appOutdated
                [date]="flight.date"
                *ngFor="let flight of flights$ | async"
                [flight]="flight"
                [selected]="!!selectedFlightIds[flight.id]"
                (selectedChange)="selectFlight($event)"
              >

              </app-flight-tile>
              <!--
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Id #</th>

                  <th>From</th>

                  <th>To</th>

                  <th>Date</th>

                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let flight of flights"
                    [ngClass]="{
                      'table-success': selectedFlightIds[flight.id]
                    }"
                >
                  <td>{{flight.id}}</td>

                  <td>{{flight.from}}</td>

                  <td>{{flight.to}}</td>

                  <td>{{flight.date | date:'dd.MM.yyyy'}}</td>

                  <td>
                    <button class="btn btn-info" (click)="selectFlight(flight.id)">
                      {{selectedFlightIds[flight.id] ? 'Deselect': 'Select'}}
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              -->
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</section>
