<header class="page-header row justify-center">
  <div class="col">
    <h1 class="float-left text-center text-md-left">
      Find Your Flight
    </h1>
  </div>
</header>

<section class="row">
  <div class="col-sm-12">
    <section class="row">
      <div class="col-md-12 col-lg-8">

        <div class="card mb-4">

          <div class="card-body" [formGroup]="searchForm">
            <h3 class="card-title">Flight Search</h3>


            <div class="form-group row">
              <label for="from" class="col-2 col-form-label">From:</label>
              <div class="col-10">
                <input id="from" class="form-control" formControlName="from" type="text">
              </div>
            </div>

            <div class="form-group row">
              <label for="to" class="col-2 col-form-label">To:</label>
              <div class="col-10">
                <input id="to" class="form-control" formControlName="to" type="text">
              </div>
            </div>

            <button class="btn btn-outline-secondary"
            (click)="search(searchForm.get('from').value, searchForm.get('to').value)">
              Search
            </button>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Upcoming Flights</h3>

            <div class="dropdown card-title-btn-container">
              <button class="btn btn-sm btn-subtle" type="button">
                <em class="fa fa-list-ul"></em> View All
              </button>

              <button class="btn btn-sm btn-subtle dropdown-toggle" type="button">
                <em class="fa fa-cog"></em>
              </button>
            </div>

            <ul class="todo-list mt-2">
              <li class="todo-list-item" *ngFor="let f of (flights$ | async)">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-{{f.id}}" [value]="selectedFlightIds[f.id]" (click)="toggleSelected(f.id)"/>
                  <label for="checkbox-{{f.id}}">
                    <span>{{f.from}} - {{f.to}} <i>departure: {{f.date | date:'HH:mm'}}</i></span>
                  </label>
                  <div class="float-right action-buttons">
                    <a class="edit" [routerLink]="['/flights/edit', f.id]">
                      <em class="fa fa-edit"></em>
                    </a>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>

      </div>

      <div class="col-md-12 col-lg-4">

        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Basket</h3>

            <h6 class="card-subtitle mb-2 text-muted">List of selected
              flights</h6>

            <ul class="todo-list mt-2">
              <li class="todo-list-item">
                Flights:
                <pre>{{selectedFlightIds | json}}</pre>
              </li>
            </ul>

            <div class="card-footer todo-list-footer">
              <button class="btn btn-danger btn-md" id="btn-todo">
                <em class="fa fa-2x fa-trash"></em>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
